# --- ARCHIVOS DE AUDIO  ---

descargas/
*.mp3
*.webm
*.m4a
*.wav
*.flac

# --- EJECUTABLES Y HERRAMIENTAS ---

ffmpeg.exe
ffprobe.exe
ffplay.exe
*.exe
*.dll

# --- PYTHON Y SISTEMA ---

__pycache__/
*.py[cod]
*$py.class
.env
venv/
env/

# --- CONFIGURACIÓN DE VS CODE ---

.vscode/
.history/

# --- ARCHIVOS DE SISTEMA ---

Thumbs.db
.DS_Store